* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.heading {
  font-family: 'Righteous', sans-serif;
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
  color: blue;
}

h3 {
  font-family: 'Righteous', sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  color: purple;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
}

#color-box {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

#color-guess {
  margin-bottom: 1rem;
  font-weight: bold;
  color: purple;
  font-size: 1.8rem;
  height: 2.5rem;
  width: 10rem;
  padding: 0.5rem;
}

label[for="color-guess"] {
  color: blue;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

#submit-button {
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  background-color: green;
  color: orange;
  font-size: 1.5rem;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: yellow;
}

#result-message {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.score-area {
  font-size: 2rem;
  width: 70%;
  height: 200px;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid black;
  padding-top: 40px;
  padding-left: 10px;
  background-color: rgba(255, 192, 203, 0.432);
  color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
}

.score-area ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.score-area li {
  margin-right: 20px;
  font-weight: bold;
  font-size: 1rem;
}

footer {
  height: 150px;
}

.social-networks {
  text-align: center;
}

.social-networks>li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: blue;
}

.game-instructions {
  background-color: rgba(255, 192, 203, 0.432);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 70%;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-instructions h2 {
  font-family: 'Righteous', sans-serif;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 10px;
  color: purple;
}

.game-instructions h3 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 20px;
  color: orange;
}

.game-instructions p {
  margin-bottom: 10px;
}

.game-instructions ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.game-instructions li {
  margin-right: 20px;
  font-weight: bold;
}

#home-btn {
  background-color: green;
  color: orange;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}

#home-btn:hover {
  background-color: yellow;
}

#instructions-button {
  background-color: green;
  color: orange;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 400px;
  margin: 0 auto;
  display: block;
}

#instructions-button:hover {
  background-color: yellow;
}

.game-instructions {
  display: none;
}

@media screen and (max-width: 768px) {
  .wrapper .score-area ul .game-container {
    max-width: 90%;
    padding: 10px;
    font-size: .8rem;
  }
}

@media screen and (max-width: 624px) {
  .score-area ul {
    margin-right: 0;
    margin-bottom: 7px;
  }

  .wrapper .game-container {
    max-width: 80%;
    padding: 7px;
    font-size: .6rem;
  }
}


@media screen and (max-width: 380px) {
  .score-area {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .wrapper .game-container {
    max-width: 70%;
    padding: 5px;
    font-size: .4rem;
  }
}